      #lome{
            color: chocolate;
            font-size: 20px;
            background-color: green;
            border: 2px solid black;
        }

        #lome-1{
            padding: 10px;

        }

         .myClass-1{
            padding: 20px;
            margin-top: 40px;
            color: green;
        }

        .myClass{
            background-color: gray;
            color: aqua;
            border: 2px solid green;
            width: 200px;
        }

        .colour{
            color: green;
            border: 2px solid green;
        }
   
        .myName::after{
            content: "aadarsh";
            color: blueviolet;
        }

        .myName::before{
            content:"Hey, "
        }

        input::placeholder{
            color: red;
            /* text-align: center; */
            margin-left: 20px;
        }

        .image::after{
            content: "hello ,hfkjhefuhfjuh mlaehfdoiueyfuijhf   mlkehdfjhfjmhn";
            width: 300px;
            height: 300px;
            background-image: url(elephant.jpg);

        }

        /* p::first-letter{
            font-size: 50px;
        } */
        p::first-line{
            font-size: 30px;
        }
        p::selection{
            background-color: gray;
        }